<footer class="footer">
      <section class="section section_footer">
        <div class="container">
          <div class="footer-container">
            <div id="w-node-_13302408-c123-127e-c272-a0683777430f-3777430b">{{ texts.d66b68a }}</div>
            <div id="w-node-_13302408-c123-127e-c272-a06837774311-3777430b" class="social">
              <a href="{{ links.-2b3032d0 }}" class="social-icon w-inline-block"><img src="{{ images.1e49334f.url }}" loading="lazy" alt="{{ images.1e49334f.alt | trim | escape }}"></a>
              <a href="{{ links.4c1d855b }}" target="_blank" class="social-icon w-inline-block"><img src="{{ images.-56057fa.url }}" loading="lazy" alt="{{ images.-56057fa.alt | trim | escape }}"></a>
              <a href="{{ links.5db9f976 }}" target="_blank" class="social-icon w-inline-block"><img src="{{ images.-43c41d58.url }}" loading="lazy" alt="{{ images.-43c41d58.alt | trim | escape }}"></a>
            </div>
          </div>
        </div>
      </section>
    </footer>